<h2>Add an audio<audio src=""></audio></h2>

<div class="mb-3">
 <form action="/client/create" method="post" enctype="multipart/form-data">
<label for="title" class="form-label">
   Title:
   <input type="text" name="title" id="title">
</label>
<label for="file" class="form-label">
    <input type="file" name="file" id="file" class="form-control">
</label class="form-label">
<button type="submit">Create</button>
</form>
</div>
<h2>All audios</h2>
{{#each audio}}
<h4 class="title-audio">{{title}}</h4>
<audio controls >
    <source src={{file}} >
        </audio>
        
        <hr>
{{/each}}