<section data-bs-version="5.1" class="article4 cid-sQkDYjIFct" id="content04-4">
  <div class="container">
    <div class="row align-left justify-content-center align-content-around">
      <div class="col-12 col-lg col-md-12 my-auto">
        <div class="text-wrapper md-pb">
          <h6
            class="mbr-section-title mbr-fonts-style mb-4 align-left display-1 financial-freedom"
          > <strong>Financial Freedom</strong> for everyone</h6>
          <p class="mbr-text mbr-fonts-style align-left display-7 paragraph-size">
            The first moroccan platform to learn all about finance.Our mission
            to simplify complex informations so that our community have the
            confidence to invest.&nbsp;</p>
          <p class="paragraph-size ">
            <strong>Important</strong>:Our content is for informational purposes
            based on the views of our analysts and it's
            <strong>not a buy or sell recommendation.&nbsp;</strong></p>
        </div>
      </div>
      <div class="col-12 col-md-12 my-auto col-lg-6 image-wrapper">
        <img
          class="w-100"
          src="https://res.cloudinary.com/dodfs5ais/image/upload/v1670526683/2157611-vector-ilustracoes-conceito-design-podcast-canal-gratis-vetor_hpicj1.jpg" class="img-fluid"
          alt="Logo"
        />
      </div>
    </div>
  </div>
</section>

<div class="card-deck mb-3 text-center">
  <div class="card mb-4 box-shadow">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">Moroccan stock market</h4>
    </div>
    <div class="card-body">
      {{!   // need to put flag image }}
      <img src="./images/morocco flag Small.png"  class="img-fluid" alt="Moroccan-flag" />
      <h5>We share podcasts about</h5>
      <ul class="list-unstyled mt-3 mb-4">
        <li>Moroccan shares</li>
        <li>Moroccan economic news</li>
        <li>Personal finance</li>
        <li>Risk management</li>
      </ul>
      <button type="button" class="btn btn-lg btn-block btn-outline-primary"><a
          class="nav-link"
          href="/client/signup"
        >Register</a></button>
    </div>
  </div>
  <div class="card mb-4 box-shadow">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">U.S stock market</h4>
    </div>
    <div class="card-body">
      {{!   // need to put flag image }}
      <img src="./images/us flag1 Small.png" class="img-fluid" alt="U.S-flag" />
      <h5>We share podcasts about</h5>
      <ul class="list-unstyled mt-3 mb-4">
        <li>U.S shares and ETFs</li>
        <li>U.S economic news</li>
        <li>Personal finance</li>
        <li>Risk management</li>
      </ul>
      <button type="button" class="btn btn-lg btn-block btn-outline-primary"><a
          class="nav-link"
          href="/client/signup"
        >Register</a></button>
    </div>
  </div>
</div>

