<section data-bs-version="5.1" class="article4 cid-sQkDYjIFct" id="content04-4">
  <div class="container">
    <div class="row align-left justify-content-center align-content-around">
      <div class="col-12 col-lg col-md-12 my-auto">
        <div class="text-wrapper md-pb">
          <h6
            class="mbr-section-title mbr-fonts-style mb-4 align-left display-1 financial-freedom"
          > <strong>IronPodcast</strong></h6>
          <p class="mbr-text mbr-fonts-style align-left display-7 paragraph-size">
            The first IronHack platform to share your thoughts, the idea is simple you want to share your opinions of something, here you can be free, we have free speeach and thats something that we belieave</p>
          <p class="paragraph-size ">
            <strong>Important: remember this is just a website for testing podcast purposes</strong></p>
        </div>
      </div>
      <div class="col-12 col-md-12 my-auto col-lg-6 image-wrapper">
        <img
          class="w-100"
          src="https://res.cloudinary.com/dodfs5ais/image/upload/v1670526683/2157611-vector-ilustracoes-conceito-design-podcast-canal-gratis-vetor_hpicj1.jpg" class="img-fluid"
          alt="Logo"
        />
      </div>
    </div>
  </div>
</section>


