<h2> Sign up</h2>

<form action="/client/signup" method="post">
<label for="">
Username
<input type="text" name="username" placeholder="ironhack" required>
</label>
<label for="">
Email
<input type="email" name="email" placeholder="ironpodcast@email.com" required>
</label>
<label for="">
Password
<input type="password" name="password" placeholder="*******" required>
</label>

<button type="submit">Create an account</button>

</form>