<section
  class="vh-100 bg-image"
  style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');"
  {{! style="background-image: url('https://res.cloudinary.com/dodfs5ais/image/upload/v1670154314/e0E0U9MHQH5icdRjQt4a_5YOd85O9Vbw5W8ZO_wrcchb.jpg');" }}
>
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Create an account</h2>

              <form action="/client/signup" method="post" class="form">

                <div class="form-outline mb-4">

                  <label class="form-label" for="username">Your Username
                    <input
                      type="text"
                      id="username"
                      class="form-control form-control-lg"
                      name="username"
                      required
                    />
                  </label>
                </div>

                <div class="form-outline mb-4">

                  <label class="form-label" for="email">Your Email
                    <input
                      type="email"
                      id="email"
                      class="form-control form-control-lg"
                      name="email"
                      required
                    />
                  </label>
                </div>

                <div class="form-outline mb-4">

                  <label class="form-label" for="password">
                    Password
                    <input
                      type="password"
                      id="password"
                      class="form-control form-control-lg"
                      name="password"
                      placeholder="*****"
                      required
                    />
                  </label>
                </div>
                <div class="d-flex justify-content-center">
                  <button
                    type="submit"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body"
                  >Register</button>
                </div>
                <hr class="my-4" />
                {{#unless client}}
                  <a href="/auth/google"> Signup with Google</a>
                {{/unless}}
                <p class="text-center text-muted mt-5 mb-0">Have already an
                  account?
                  <a href="/client/login" class="fw-bold text-body"><u>Login
                      here</u></a></p>

              </form>

            </div>
          </div>
        </div>
      </div>
    
  </div>
  </div>
</section>

{{#if errorMessage}}
  <p>{{errorMessage}}</p>
{{/if}}